@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.fullName-wrapper {
  position: relative;
  height: calc(100% - 65px);

  .name-surname-sex-inputs {
    margin-right: 110px;
    margin-left: 86px;
    padding-top: 50px;

    @include tablet {
      margin-right: 40px;
      margin-left: 16px;
    }

    input {
      width: 40%;
      background: #fff;

      @include tablet {
        width: 90%;
      }
    }

    .select {
      width: calc(40% + 20px);
      height: 44px;

      @include tablet {
        width: calc(90% + 20px);
      }
    }
  }
}
